@mixin action-button-variant($bg-color, $text-color: black) {
    $light-color: mix(white, $bg-color, 5%);
    $dark-color: mix(black, $bg-color, 5%);

    background-color: $light-color;
    color: $text-color;
    border: 3px solid $light-color;

    &:hover {
        background-color: $dark-color;
        border-color: $dark-color;
    }

    &:hover i.fa-circle-quarter {
        transform: rotate(-45deg);
    }
}

@mixin action-button-transparent-variant($bg-hover, $text-color: black) {
    $dark-color: mix(black, $bg-hover, 5%);

    background-color: transparent;
    border: 3px solid $bg-hover;
    color: $text-color;

    &:hover {
        background-color: $dark-color;
        border-color: $dark-color;
    }

    &:hover i.fa-circle-quarter {
        transform: rotate(-45deg);
    }
}

.ActionButton {
    background-color: lightgray;
    color: black;
    border: 3px solid lightgray;

    padding: 8px 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 9999px;

    width: auto;
    flex-shrink: auto;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &--blue {
        @include action-button-variant(rgb(96 165 250), white);

        &-transparent {
            @include action-button-transparent-variant(rgb(96 165 250), black);
        }
    }

    &--yellow {
        @include action-button-variant(rgb(252 211 77));

        &-transparent {
            @include action-button-transparent-variant(rgb(252 211 77), black);
        }
    }

    &--purple {
        @include action-button-variant(rgb(139 92 246), white);

        &-transparent {
            @include action-button-transparent-variant(rgb(139 92 246), black);
        }
    }

    i.fa-circle-quarter {
        transform: rotate(135deg);
        transition: all 0.5s ease;
        width: 9px;
        height: 9px;
    }
}

.HeaderAndContent {
    width: 100%;

    &-header {
        margin-bottom: 40px;
        font-family: "Work Sans";
        font-weight: 800;
        color: rgb(5 30 75);
        font-size: 36px;

        @media (min-width: 768px) {
            font-size: 64px;
        }

        &--subtitle {
            font-size: 36px;
            line-height: 40px;
        }
    }
}

.OverviewFilter {
    display: flex;

    &-buttonFilters {
        flex: 1;
    }

    &-searchInput {
        width: 100%;
        margin-bottom: 16px;
    }
}

.TableContainer {
    position: relative;
}

.DataTable {
    width: 100%;

    &-header {
        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.143);
    }

    &-headerItem {
        padding: 15px 20px;
        text-align: left;

        &:last-child {
            text-align: right;
        }
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        border-radius: 15px 15px 0px 0px;
        z-index: -1;
        position: absolute;
        left: 50%;
        top: 50%;
        box-shadow: 0px 0px 5px 5px #00000009;
    }
}

.TablePagination {
    margin-bottom: 40px;
}

.CompetenceRow{
    height: 50px;
    position: relative;
    text-align: left;

    border-bottom: 1px solid rgba(0, 0, 0, 0.143);

    &:last-child {
        padding-bottom: 20px;
        border-bottom: none;
    }

    &-value {
        padding: 15px 20px;

        &:first-child {
            width: 58.333333%;
        }

        &:last-child {
            float: right;
        }
    }
}

.Option {
    display: flex;
    flex-direction: column;

    &-description {
        font-size: 18px;
        line-height: 28px;
        color: rgb(148 163 184);
        margin-bottom: 8px;
    }

    &-items {
        width: fit-content;
    }
}

.UserInteractiveMenu {
    width: 100%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 0.5rem;
    overflow: hidden;

    &-title {
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 2.25rem;
        border-bottom-width: 4px;
        padding: 1.5rem;
        background-color: white;
    }

    &-contents {
        padding: 1.5rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        background-color: white;
    }
}

.DataForm {
    &-contents {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

.FormField {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &-propertyName {
        font-weight: 700;

        &--sub {
            color: rgb(148 163 184);
        }

        &--error {
            border-width: 1px;
            border-color: #ef4444;
        }
    }

    &--expand {
        flex: 1;
    }

    &--languages {
        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    &-radio {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
    }
}

.MultiButton {
    display: flex;
    width: 100%;

    :first-child {
        border-radius: 8px 0 0 8px;
    }

    :last-child {
        border-radius: 0 8px 8px 0;
    }

    &-item {

        padding: 0.5rem;
        flex: 1 1 0%;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        background-color: rgb(167 139 250);
        border-color: #ffffff;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background-color: rgb(96 165 250);
        }

        @media (min-width: 768px) {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }

}

.QuickPanel {
    height: 100vh;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin-bottom: 96px;

    @media (min-width: 1280px) {
        height: 500px;
    }

    &-options {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-bottom: 10px;
        justify-content: center;
        gap: 20px;

        @media (min-width: 1280px) {
            flex-direction: row;
        }
    }
}

.QuickPanelOption {
    flex: 1 1 0%;
    height: 100%;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;

    &-title {
        width: 100%;
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
    }

    &-actions {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
    }
}

.QuickPanelOptionActivePlans {
    list-style-type: disc;
    flex: 1;

    &-activePlan {
        display: list-item;
        margin-bottom: 0.5rem;
        background-color: white;
    }

    &-activePlanLink {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 700;
    }
}

.PlanCollection {
    &-title {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        transition-duration: 100ms;
        transition-timing-function: cubic-bezier(0.4, 0, 1, 1);

        color: rgb(100 116 139);

        &:hover {
            color: rgb(59 130 246);
        }
    }

    &-cards {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1.25rem;

        @media (min-width: 1536px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}

.PlanCard {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);

    &-body {
        flex: 1 1 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        color: #000000;
        padding: 1.25rem;
    }

    &-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    &-stats {
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.125rem;
        line-height: 1.75rem;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &-infoList {
        &Info {
            font-weight: 700;
        }
    }

    &-actionList {
        padding-top: 8px;

        &.is-completed {
            display: none;
        }

    }

    &-link {
        display: flex;
        // justify-content: center;
        // align-items: center;
        text-align: center;
        width: 2.5rem;
        background-color: #60a5fa;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        cursor: pointer;

        position: relative;

        &Icon {
            transition: transform 0.3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 1rem;

            width: 20px;
            aspect-ratio: 1/1;

            position: absolute;
            left: 50%;
            top: 50%;

            transform: translateX(-50%) rotate(-45deg) scale(1.5);

            &::before {
                width: 9px !important;
                height: 9px !important;
            }

            &:hover {
                transform: translateX(-50%) rotate(135deg) scale(1.5);
            }
        }
    }
}

.ActionListItem {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;

    &-done {
        margin-right: 0.5rem;
    }
}

.TabView {
    &-tabList {
        display: flex;
        padding: 0.5rem;
        gap: 0.5rem;
        width: 100%;
        background-color: white;
        border-radius: 0.5rem + 0.5rem;
    }

    &-tab {
        padding: 1rem;
        border-radius: 0.5rem;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        transition-duration: 200ms;
        cursor: pointer;
        user-select: none;
        background-color: rgb(148 163 184);

        &:hover {
            background-color: rgb(100 116 139);
        }

        &Name {
            font-weight: 700;
            color: #ffffff;
        }

        &--selected {
            background-color: rgb(167 139 250);

            &:hover {
                background-color: rgb(139 92 246);
            }
        }
    }

    &-contents {
        padding: 1.25rem;
        margin-top: 2.5rem;
        box-shadow: var(0px 0px 10px 0px rgba(0, 0, 0, 0.1));
        background-color: white;
        border-radius: 0.5rem;
        max-width: 100%;
        width: 100%;
        margin: 2.5rem 0rem;
        overflow: hidden;
        border: 4px solid #a78bfa;
    }
}

.FormButton {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.375rem;
    color: #ffffff;
    background-color: rgb(167 139 250);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 200ms;

    &:hover {
        background-color: rgb(96 165 250);
    }
}

.InfoCard {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    flex-direction: row;
    gap: 0.75rem;
    border-radius: 0.75rem;
    border-width: 2px;
    border-color: rgb(59, 130, 246);
    width: fit-content;
    background-color: #ffffff;

    &-message {
        font-weight: 700;
        color: rgb(59, 130, 246);
    }
}
