@mixin action-button-variant($bg-color, $text-color: black) {
    $light-color: mix(white, $bg-color, 5%);
    $dark-color: mix(black, $bg-color, 5%);

    background-color: $light-color;
    color: $text-color;
    border: 3px solid $light-color;

    &:hover {
        background-color: $dark-color;
        border-color: $dark-color;
    }

    &:hover i.fa-circle-quarter {
        transform: rotate(-45deg);
    }
}

@mixin action-button-transparent-variant($bg-hover, $text-color: black) {
    $dark-color: mix(black, $bg-hover, 5%);

    background-color: transparent;
    border: 3px solid $bg-hover;
    color: $text-color;

    &:hover {
        background-color: $dark-color;
        border-color: $dark-color;
    }

    &:hover i.fa-circle-quarter {
        transform: rotate(-45deg);
    }
}
