.multi-button {
    display: flex;
    width: 100%;

    :first-child {
        border-radius: 8px 0 0 8px;
    }

    :last-child {
        border-radius: 0 8px 8px 0;
    }

    > .item {
        padding: 0.5rem;
        flex: 1 1 0%;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        background-color: rgb(167 139 250);
        border-color: #ffffff;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background-color: rgb(96 165 250);
        }

        @media (min-width: 768px) {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }

}
