@use "../hulpmiddelen/hulpmiddelen" as *;
@use "../instellingen/variabelen" as *;

.action-button {
    background-color: lightgray;
    color: black;
    border: 3px solid lightgray;

    padding: 8px 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 9999px;

    width: auto;
    flex-shrink: auto;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &--blue {
        @include action-button-variant($button-blue, white);

        &-transparent {
            @include action-button-transparent-variant($button-blue, black);
        }
    }

    &--yellow {
        @include action-button-variant($button-yellow);

        &-transparent {
            @include action-button-transparent-variant($button-yellow, black);
        }
    }

    &--purple {
        @include action-button-variant($button-purple, white);

        &-transparent {
            @include action-button-transparent-variant($button-purple, black);
        }
    }

    i.fa-circle-quarter {
        transform: rotate(135deg);
        transition: all 0.5s ease;
        width: 9px;
        height: 9px;
    }
}

.header-and-content {
    width: 100%;

    &__header {
        margin-bottom: 40px;
        font-family: $default-font;
        font-weight: 800;
        color: $header-color;
        font-size: $font-size-header-small;

        @media (min-width: $screen-medium) {
            font-size: $font-size-header-big;
        }

        &--subtitle {
            font-size: $font-size-header-small;
            line-height: 40px;
        }
    }
}

.overview-filter {
    display: flex;

    &__button-filters {
        flex: 1;
    }

    &__search-input {
        width: 100%;
        margin-bottom: 16px;
    }
}

.table-container {
    position: relative;
}

.data-table {
    width: 100%;

    &__header {
        height: 50px;
        border-bottom: $row-separator;
    }

    &__header-item {
        padding: 15px 20px;
        text-align: left;

        &:last-child {
            text-align: right;
        }
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        border-radius: 15px 15px 0px 0px;
        z-index: -1;
        position: absolute;
        left: 50%;
        top: 50%;
        box-shadow: 0px 0px 5px 5px #00000009;
    }
}

.table-pagination {
    margin-bottom: 40px;
}

.competence-row {
    height: 50px;
    position: relative;
    text-align: left;

    border-bottom: $row-separator;

    &:last-child {
        padding-bottom: 20px;
        border-bottom: none;
    }

    &__value {
        padding: 15px 20px;

        &:first-child {
            width: 58.333333%;
        }

        &:last-child {
            float: right;
        }
    }
}

.option {
    display: flex;
    flex-direction: column;

    &__description {
        font-size: $font-size-medium;
        line-height: 28px;
        color: $light-gray;
        margin-bottom: 8px;
    }

    &__items {
        width: fit-content;
    }
}

.user-interactive-menu {
    width: 100%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 0.5rem;
    overflow: hidden;

    &__title {
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 2.25rem;
        border-bottom-width: 4px;
        padding: 1.5rem;
        background-color: white;
    }

    &__contents {
        padding: 1.5rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        background-color: white;
    }
}

.data-form {
    &__contents {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__property-name {
        font-weight: 700;

        &--sub {
            color: $light-gray;
        }

        &--error {
            border-width: 1px;
            border-color: #ef4444;
        }
    }

    &--expand {
        flex: 1;
    }

    &--languages {
        @media (min-width: $screen-medium) {
            flex-direction: row;
        }
    }

    &__radio {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
    }
}

.multi-button {
    display: flex;
    width: 100%;

    :first-child {
        border-radius: 8px 0 0 8px;
    }

    :last-child {
        border-radius: 0 8px 8px 0;
    }

    &__item {
        padding: 0.5rem;
        flex: 1 1 0%;
        font-size: $font-size-small;
        line-height: 1.25rem;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        background-color: rgb(167 139 250);
        border-color: #ffffff;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background-color: rgb(96 165 250);
        }

        @media (min-width: $screen-medium) {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
    }
}

.quickpanel {
    height: 100vh;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin-bottom: 96px;

    @media (min-width: $screen-extra-large) {
        height: 500px;
    }

    &__options {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-bottom: 10px;
        justify-content: center;
        gap: 20px;

        @media (min-width: $screen-extra-large) {
            flex-direction: row;
        }
    }
}

.quickpanel-option {
    flex: 1 1 0%;
    height: 100%;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;

    &__title {
        width: 100%;
        font-size: $font-size-medium;
        line-height: 2rem;
        text-align: center;
    }

    &__actions {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
    }
}

.quickpanel-option-active-plans {
    list-style-type: disc;
    flex: 1;

    &__active-plan {
        display: list-item;
        margin-bottom: 0.5rem;
        background-color: white;
    }

    &__active-plan-link {
        font-size: $font-size-small-medium;
        line-height: 1.75rem;
        font-weight: 700;
    }
}

.plan-collection {
    &__title {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        font-size: $font-size-medium;
        line-height: 2rem;
        font-weight: 700;
        transition-duration: 100ms;
        transition-timing-function: cubic-bezier(0.4, 0, 1, 1);

        color: rgb(100 116 139);

        &:hover {
            color: rgb(59 130 246);
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1.25rem;

        @media (min-width: $screen-massive) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
}

.plan-card {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);

    &__body {
        flex: 1 1 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        color: #000000;
        padding: 1.25rem;
    }

    &__title {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    &__stats {
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: $font-size-small-medium;
        line-height: 1.75rem;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__info-list {
        &-info {
            font-weight: 700;
        }
    }

    &__action-list {
        padding-top: 8px;

        &--hidden {
            display: none;
        }
    }

    &__link {
        display: flex;
        // justify-content: center;
        // align-items: center;
        text-align: center;
        width: 2.5rem;
        background-color: #60a5fa;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        cursor: pointer;

        position: relative;

        &-icon {
            transition: transform 0.3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: $font-size-default;

            width: 20px;
            aspect-ratio: 1/1;

            position: absolute;
            left: 50%;
            top: 50%;

            transform: translateX(-50%) rotate(-45deg) scale(1.5);

            &::before {
                width: 9px !important;
                height: 9px !important;
            }

            &:hover {
                transform: translateX(-50%) rotate(135deg) scale(1.5);
            }
        }
    }
}

.action-list-item {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-items: center;

    &__done {
        margin-right: 0.5rem;
    }
}

.tabview {
    &__tab-list {
        display: flex;
        padding: 0.5rem;
        gap: 0.5rem;
        width: 100%;
        background-color: white;
        border-radius: 0.5rem + 0.5rem;
    }

    &__tab {
        padding: 1rem;
        border-radius: 0.5rem;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        transition-duration: 200ms;
        cursor: pointer;
        user-select: none;
        background-color: $light-gray;

        &:hover {
            background-color: rgb(100 116 139);
        }

        &-name {
            font-weight: 700;
            color: #ffffff;
        }

        &--selected {
            background-color: rgb(167 139 250);

            &:hover {
                background-color: rgb(139 92 246);
            }
        }
    }

    &__contents {
        padding: 1.25rem;
        margin-top: 2.5rem;
        box-shadow: var(0px 0px 10px 0px rgba(0, 0, 0, 0.1));
        background-color: white;
        border-radius: 0.5rem;
        max-width: 100%;
        width: 100%;
        margin: 2.5rem 0rem;
        overflow: hidden;
        border: 4px solid #a78bfa;
    }
}

.form-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.375rem;
    color: #ffffff;
    background-color: rgb(167 139 250);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 200ms;

    &:hover {
        background-color: rgb(96 165 250);
    }
}

.info-card {
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    flex-direction: row;
    gap: 0.75rem;
    border-radius: 0.75rem;
    border-width: 2px;
    border-color: rgb(59, 130, 246);
    width: fit-content;
    background-color: #ffffff;

    &__message {
        font-weight: 700;
        color: rgb(59, 130, 246);
    }
}
