.user-interactive-menu {
    width: 100%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-radius: 0.5rem;
    overflow: hidden;

    &__title {
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 2.25rem;
        border-bottom-width: 4px;
        padding: 1.5rem;
        background-color: white;
    }

    &__contents {
        padding: 1.5rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        background-color: white;
    }
}
